<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3"> All Grades </h1>
</div>
<br><br>
<div style="overflow: scroll">
  <table id="example" class="table table-striped table-bordered table-responsive" style="overflow: scroll">
    <thead class= "table-head">
    <tr>
      <th>Grade</th>
      <th>No. of students</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= link_to grade.name, grades_path({grade_name: grade.name}) %></td>
        <td><%= Student.where(grade_id: Grade.where(name: grade.name)).count %></td>
        <td>
          <% if current_user.role.rights.where(value: "view_grade").any? %>
              <%= link_to '', grades_path({grade_name: grade.name}), class: 'btn btn-success  glyphicon glyphicon-ok-circle' %>
          <% end %>
          <% if current_user.role.rights.where(value: "update_grade").any? %>
              <%= link_to '', edit_grade_path(grade, {maingrade: true}),:class => ' btn btn-info  glyphicon glyphicon glyphicon-pencil bcc',style: "width:40px;" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>