<table class="table table-bordered col-md-12">
	<thead>
		<th>
			Academic Fields
		</th>
		<th>
			Non-Academic Fields
		</th>
	</thead>
	<tbody>
		<tr>
			<td>
				1) Excellent performance
			</td>
			<td>
				9)Great Attitude
			</td>
		</tr>

		<tr>
			<td>
				2) Good work, keep improving
			</td>
			<td>
				10) Polite, well-behaved person
			</td>
		</tr>

		<tr>
			<td>
				3) Shows improvement
			</td>
			<td>
				11) Great Communication Skills
			</td>
		</tr>

		<tr>
			<td>
				4) Needs to work harder
			</td>
			<td>
				12) Adaptable and Social
			</td>
		</tr>

		<tr>
			<td>
				5) Missing Homework
			</td>
			<td>
				13) Doesn’t focus in class
			</td>
		</tr>

		<tr>
			<td>
				6) Needs to be more active in class
			</td>
			<td>
				14) Doesn’t respect others
			</td>
		</tr>

		<tr>
			<td>
				7) Needs to Improve English Communication Skills
			</td>
			<td>
				15) Need to concentrate to achieve
			</td>
		</tr>

		<tr>
			<td>
				8) Needs to focus on studies
			</td>
			<td>
				16) Doesn’t listen to teachers
			</td>
		</tr>

	</tbody>
</table>	
