<div class="col-md-12">
  <div class="col-md-4" style="margin-left:20px"><h4> Ptomoted To Grade: </h4></div>
  <div class="col-md-4" style="margin-right:10px"> <h4><span class = "pull-right"> :ناجح/ـة ومنقول/ـة إلى الصف </span></h4></div>
</div>
<div class="col-md-12">
  <%= image_tag asset_path("img/result_footer.jpg"), alt: "..." %>
</div>