<div class="col-md-12">
  <h4> Ptomoted To Grade:<span class = "pull-right"> :ناجح/ـة ومنقول/ـة إلى الصف </span></h4>
</div>
<div class="col-md-12" style="border: solid">
  <div class="row">
    <div class="col-md-6" style="border-right:solid">
      <h5 class="text-center" style="color: blue">Attesting (authentication) مصادقة وزارة التربية والتعليم </h5>

      <span style= "margin: 37px auto; width: 19%;overflow: hidden;display: block;" >
        Stamp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp الختم
      </span>
      <br><br><br>
    </div>

    <div class="col-md-6">
      <h5 class="text-center" style="color: blue">School Principal مديرة المدرسة</h5>
      <h5 class="text-center" > Name: Fawzia Yousif Al-Habashi </h5>
      Date: <span class = "pull-right">:التاريخ</span><br>
      Signature: <span class = "pull-right">:التوقيع</span><br>
      <span style= "margin: 0px auto; width: 33%;overflow: hidden;display: block;" >
        Stamp &nbsp &nbsp &nbsp &nbsp &nbsp الختم
      </span>
    </div>
  </div>
</div>