<style>
    .light-blue{  background-color: #B2D7EC;  }
    .yellow { background-color: #FEFF99; }
    .light-grey{ background-color: #F2F2F2; }
    .dark-grey { background-color: #BFBFBF; }
    .dark-blue { background-color: #548DD4; color: black;}

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid black;
        text-align: center;
        color: black;
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        font-size: 90%;
    }
</style>

<div class="well well-lg">
  <h4>Student Name:           <%= @student.fullname %></h4>
  <h4>Student ID:             <%= @student.rollnumber %></h4>
  <h4>Grade:                  <%= @class.full_name %></h4>
</div>

<%= render partial: 'complete_result.html.erb' %>