<div class="row">
  <div class="col-md-12">
    <%= form_tag(show_subject_result_path, method: :post, class: 'col-form class-form', remote: true) do %>
        <div class="form-group col-md-4">
          <label for="class_id"> Select Quarter</label>
          <%= select_tag 'class_id', options_from_collection_for_select(@exams, :id, :name, @exam.id), class: 'form-control exam-select'  %>
        </div>
    <% end %>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12" id="subjects">
    <%= render partial: 'my_subjects' %>
  </div>
</div>


<script type="text/javascript">
    $(document).on('change', '.exam-select', function(){
        alert(1);
        exam_id = $(this).val();
        $.ajax({
            url: '/my_results',
            method: 'post',
            dataType: 'script',
            data: {
                exam_id: exam_id
            }
        });
    });

</script>