<style>
    .light-blue{  background-color: #B2D7EC;  }
    .yellow { background-color: #FEFF99; }
    .light-grey{ background-color: #F2F2F2; }
    .dark-grey { background-color: #DDD9C4; }
    .dark-blue { background-color: #8DB4E2;}

    .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td{
        border-top: 1px solid black;
        text-align: center;
    }
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid black;
        vertical-align: middle;
        font-size: 10px;
        color: black;
    }
</style>
<div class="col-md-12">
  <h5>Student Name:           <span class="text-primary"><%= @student.fullname %></span></h5>
  <h5>Student ID:             <span class="text-primary"><%= @student.rollnumber %></span></h5>
  <h5>Grade:                  <span class="text-primary"><%= @class.full_name %></span></h5>
</div>

<div class="col-md-12">
  <%= render partial: 'marks/quarter_result.html.erb', locals: {exam: @exam} %>
</div>