<div class="row">
  <div class="col-md-12">
    <%= form_tag(show_subject_result_path, method: :post, class: 'col-form class-form', remote: true) do %>
        <div class="form-group col-md-4">
          <label for="class_id"> Select Class</label>
          <%= select_tag 'class_id', options_from_collection_for_select(@classes, :id, :full_name, @class.id), class: 'form-control class-select'  %>
        </div>
    <% end %>
  </div>
</div>

<hr />
<div class="row">
  <div class="col-md-12" id="subjects">
    <%= render partial: 'marks/show_subjects_and_exams', locals: { subjects: @report_card_subjects, exams: @exams, klass: @class } %>
  </div>
</div>

<hr />
<div class="row">
  <div class="col-md-12" id="results">
  </div>
</div>

<script type="text/javascript">
  $(document).on('change', '.class-select', function(){
      class_id = $(this).val();
      $.ajax({
          url: '/subject_result',
          method: 'post',
          dataType: 'script',
          data: {
              class_id: class_id
          }
      });
  });

</script>