<% if current_user.role.rights.where(value: "create_fee").any? %>
  <div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create Fees Breakdown</h1>
  </div>
  <%= render 'form' %>
<% end %>