<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Select A Class</h1>
</div>

<br />
<div class="alert alert-info main-alert" id="alert" style="display: none">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <div id="message"></div>
</div>
<br />

<table class="table" >
  <thead class="table-head">
  <tr>
    <th>Class</th>
    <th>Batch</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @classes.each do |grade| %>
      <tr>
        <td><%= link_to grade.full_name, select_subject_and_exam_path(grade.id, current_user.id) %></td>
        <td><%= grade.batch.try :name %></td>
        <td>
        <% pb = PublishResult.find_by(class_id: grade.id, batch_id: @batch.id) %>
        <% if pb.try(:publish) %>
              <%= link_to 'Hide Results', hide_result_path(grade.id, @batch.id), { class: 'btn btn-danger', remote: true, data: { confirm: 'Are you sure to hide result?' } } %>
        <% else %>
            <%= link_to 'Publish Results', publish_result_path(grade.id, @batch.id), { class: 'btn btn-success', remote: true, data: { confirm: 'Are you sure to publish result?' } } %>
        <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>