

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Edit Details  </h1>
</div>

<br />
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item active">Edit Information</li>
      <li class="list-group-item"><%= link_to 'Edit Personal Information', edit_student_path(@student.id) %></li>
      <% if @student.parent.present? %>
          <li class="list-group-item"><%= link_to 'Edit Parent Information', edit_parent_parent_path(@student.parent.try(:id)) %></li>
      <% else %>
          <li class="list-group-item">Parent information missing.</li>
      <% end %>
    </ul>
  </div>
</div>

<style type="text/css">
  .form-holder .col-sm-2 {
    min-height: 84px;
  }
  .form-holder .form-control{
    width: auto ;
  }
  .form-control{
    border-radius: 7px;
    border: black;
  }
  .list-group-item.active{
    background-color: #57B223 !important;
    border-color: #57B223 !important;
  }
</style>