<div class="nested-fields" >
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="column col-xs-12 col-sm-3">
        <div class="form-group ">
          <div class="field">
            <br />
            <%= f.object.method.titleize %>
          </div>
        </div>
      </div>
      <div class="column col-xs-12 col-sm-3">
        <div class="form-group ">
          <div class="field">
            <%= f.label :label, 'Heading' %><br>
            <%= f.text_field :label , style: 'height:34px;',  class: 'form-control' , required: true, autofocus: true %>
          </div>
        </div>
      </div>

      <div class="column col-xs-12 col-sm-3">
        <div class="form-group ">
          <div class="field">
            <br />
            <%= f.check_box :show , style: 'height:34px; margin-top: 2px;',  class: 'form-control' , required: true, autofocus: true, data: {toggle: 'toggle', on: 'Show', off: 'Hide'} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>