<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Create New Report Card</h1>
</div>
<br />

<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'subjects' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-12">
        <%= link_to 'Back', new_headings_path(@setting), class: 'btn btn-primary' %>
        <%= link_to 'Preview', report_card_setting_path(@setting), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>