<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Create New Report Card</h1>
</div>
<br />

<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'headings' %>
  </div>
</div>