<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Create New Report Card</h1>
</div>
<br />

<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'marks_divisions' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-12">
        <%= link_to 'Back', report_card_setting_new_path(@setting.grade_id, @setting.exam_id), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>