<p id="notice"><%= notice %></p>

<p>
  <strong>Year name:</strong>
  <%= @year_plan.year_name %>
</p>

<%= link_to 'Edit', edit_year_plan_path(@year_plan) %> |
<%= link_to 'Back', year_plans_path %>
