<div class="col-md-12">
  <%= link_to 'Fee Entries', fee_entries_path, class: 'btn btn-success' %>
  <%= link_to 'Search Student', dues_path, class: 'btn btn-success' %>
  <%= link_to 'Give Estimate', give_estimate_path, class: 'btn btn-success' %>
</div>