<div class="row header" style="">
  <span class="col-md-2">
    <%= wicked_pdf_image_tag 'img/logo.png' %>
  </span>
  <span class="col-md-10" style="border-top: 5px solid darkblue; padding-bottom: 20px; font-size: 28px; ">
    Al-Omam International School
  </span>
  <span class="col-md-2">
    <%= wicked_pdf_image_tag 'img/sec_logo.png' %>
  </span>
</div>