<div class="col-md-12 text-center" style="border-top: 5px solid black; padding-top: 5px;">
  <div class="text-center"><b>Al-Omam Int. School is fully accredited by The American International Association Accreditation for Schools & Colleges</b></div>
  <%= link_to 'alomam.edu.sa', 'http://alomam.edu.sa' %>

</div>