
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Edit Categories  </h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', @shopcategory %> |
<%= link_to 'Back', shopcategories_path %>
