<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shopcategory.name %>
</p>

<%= link_to 'Edit', edit_shopcategory_path(@shopcategory) %> |
<%= link_to 'Back', shopcategories_path %>
