








 <% if current_user && current_user.role.name == 'Parent' %>
 <div  class="displayn">

  <div id="myCarousel" class="carousel slide displayn" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

  <div class="carousel-inner" role="listbox" style=" margin-top:30px; max-height:300px;">
    <div class="item active">
      <%= image_tag "a.jpg", alt: ".", class: 'img-responsive', style: "padding-left:10px;"%>
    </div>

    <div class="item">
      <%= image_tag "b.jpg", alt: ".", class: 'img-responsive', style: "padding-left:10px;"%>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>


 
<% else %>

  <div id="myCarousel" class="carousel slide " data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

  <div class="carousel-inner" role="listbox" style=" margin-top:30px; max-height:300px;">
    <div class="item active">
      <%= image_tag "a.jpg", alt: ".", class: 'img-responsive', style: "padding-left:10px;"%>
    </div>

    <div class="item">
      <%= image_tag "b.jpg", alt: ".", class: 'img-responsive', style: "padding-left:10px;"%>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
<%end%>
  
</div>



<div id='calendar' class="ui-widget" >
</div>







<style type="text/css">
.ui-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 0.8em; }

</style>

     
<script type="text/javascript">
$(document).ready(function() {


    $('#calendar').fullCalendar({
    })

});

</script