<% if current_user.role.rights.where(value: "update_grade_group").any? %>
    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">Update Class Grade</h1>
    </div>
    <%= render 'form' %>
<% end %>