<% if current_user.role.rights.where(value: "create_grade_group").any? %>
    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">Add Class Grade</h1>
    </div>
    <%= render 'form' %>
<% end %>