<%= form_for @bridge do |f| %>
  <div class="col-md-5">
    <label>Select Subject</label>
    <%= text_field_tag :nestle, @bridge.subject.name ,:style => 'height:34px;width: 100%',  class: 'form-control', readonly: true  %>
  </div>

  <div class="col-md-5" >
    <label>Select Teacher</label>
    <%= f.collection_select :employee_id , @employee, :id , :full_name,{},{:style => 'height:34px;width: 100%',  class: 'form-control'} %>
  </div>
  <div>
    <%= f.submit "Update", data: { confirm: "Are you sure, You want to edit Assignment?" }, class: 'btn btn-success', style: 'margin-top:23px;' %>
  </div>
<% end %>