<style class type="text/css">
  .admission-form-heading
  {
    width:100%;
  }

  .row{
    width:96%;
    margin-left: 0px;
    margin-top: 0px;
  }
  .container{
      width: auto;
  }

  .sss{
    border:1px solid#e5e5e5;   padding: 1%;
  }

  .lll{
    width: auto !important;
    background-color: white;
    padding-right: 16px;
    padding-left: 15px;
    border: 1px solid;
    border-color: #729F32;
    border-radius: 21px;
  }
  </style>


<div>
  <%= render "form" %>
</div>





  <style type="text/css">
  .form-holder .col-sm-2 {
    min-height: 84px;
  }
  .form-holder .form-control{
    width: 65%;
  }
  .form-control{
    border-radius: 7px;
    border: black;
  }
</style>


