
<div class="form-group col-md-4">
  <label>Enter Student ID</label><br>
  <input type="text" class="form-control" id="fee_student_id" >
</div>

<div id = "record">

</div>

<script type="text/javascript">
  $('#datetimepicker1').datepicker({
    format: "mm-dd-yyyy",
    viewMode: "months",
    minViewMode: "months"
  });

  $("#fee_student_id").blur(function(){
    // var id = $("#fee_student_id");
    $.get('/fees/student_fee',{id: $('#fee_student_id').val(), fee: true})
      .done(function(data){
        console.log(data)
        if(data != null){
          // $('#std_error').addClass('hidden');
          // var val = data.term;
          // console.log("done function", val);
          // if(val == 'Monthly'){
          //   $("#fee_amount").val(Math.round(data.fee)/12);
          //   console.log('here i am ');
          // }
          // if(val == 'Quarterly'){
          //   $("#fee_amount").val(Math.round(data.fee)/4);
          // }
          // if(val == 'Bi-annualy'){
          //   $("#fee_amount").val(Math.round(data.fee)/2);
          // }
          // if(val == 'Annualy'){
          //   $("#fee_amount").val(data.fee);
          // }
          // console.log(data.fee);
          $("#pendings").val(data.fee);
        }
        else{
          console.log("i am hereajdfklasdjfkljasdklfj")
          // $('#std_error').removeClass('hidden');
        }

        });
  });
</script>