// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (max-width : 992px) {
  body.login{
    background-image: unset;
    background-color: #87D37C !important;
  }
}
.login-panel{
  width:450px;
  margin:0 auto;
  padding-top: 5%;
}
.login-panel-body{
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  padding:50px;


  .links{
    margin-top: 1em;
    a:hover{
      background: none;
      text-decoration: none;
    }
  }
}
.login-logo{
  padding:11px 0;
}
.login-logo a{
  width:242px;
  margin:auto;
  display:block;
}
.form-control{
  border-radius:0px;
  box-shadow:none;
}
.login-panel .glyphicon {
  position:relative;
  top:0;
  right:0;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  body.login{
    background-image: unset;
    background-color: #87D37C !important;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .login-panel{
    width:90%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

.img {
  padding-top: 5.4%;
  min-height: 440px;
  img{ min-height: 355px; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);}
}

.school-name{
  margin-left: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 3em;
  text-align: center;
  color: white;
  vertical-align: bottom;
}

body.login{
  background-color: #87D37C;
  .btn, &:hover{
    border: none !important;
    background-color: #87D37C;
  }
}