<h3 class="text-center"><%= "#{@class.full_name} - #{@exam.name} - #{@std.fullname} Result" %><br>
<h5 class="text-center"><%= Time.now.strftime("Printed On: %m/%d/%Y") %></h5>
</h3>
<%= render partial: 'kgresults/show_result.html.erb' %>