<html>
<head>
  <title>Al Omam International School</title>
  <meta charset="utf-8" />
  <meta name="description" content="Angularjs, Html5, Music, Landing, 4 in 1 ui kits package" />
  <meta name="keywords" content="AngularJS, angular, bootstrap, admin, dashboard, panel, app, charts, components,flat, responsive, layout, kit, ui, route, web, app, widgets" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%= wicked_pdf_stylesheet_link_tag 'externals/bootstrap/dist/css/bootstrap.min.css' %>
  <style>
    body{
      line-height: normal;
      font-size: 11px;
      width: 100%;
    }
    table{
      font-size: 12px;
      border-bottom: 1px solid #ccc;
    }
    .page-break { display:block; clear:both; page-break-after:always; }

  </style>
</head>
<body>
<%= yield %>
</body>
</html>